/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

input.ng-touched.ng-invalid {
  border-color: red;
}

textarea.ng-touched.ng-invalid {
  border-color: red;
}

.toast-body {
  a {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1rem;
    cursor: pointer;
  }
}

body {
  background-image: url(./assets/images/body.png);
  background-repeat: repeat;
}
